*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0 10%;
    margin: 0 auto;
    border: 1px solid black;
}
header{
    text-align: center;
}
#ocupation{
    list-style: none;
    padding:5px 0;
}
.habilidades, .educacao, .carreira{
    padding: 5px 0;
}
.tecnologias li{
    list-style-position: inside;
}
h2{
    padding-bottom: 5px;
}
h3{
    font-size: medium;
}
footer{
    text-align: center;
}